<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="AppZone QA Web Suite" verbose="1">

 	<test name="Regression-Login" verbose="1">
 		<parameter name="store" value="qa-store-yh-1" />
		<classes>
			<class name="com.partnerpedia.appzone.web.pageobject.test.LoginTest" />
		</classes>
	</test>

 
</suite>